<!-- botões call-to-action -->
<div class="hs__buttons-container">
  {% for botao in include.botoes %}
    <div role="button" class="hs__button--{{ botao.cor }}">
      <a class="hs__button hs__button--gradient hs__button--{{ botao.tamanho }}" 
          href="{{ botao.href | default: '#' }}" 
          target="{{ botao.target | default: '_blank' }}" 
          rel="{{ botao.rel | default: 'noopener' }}">

        <span class="text">{{ botao.texto }}</span>
        <span class="highlight"></span>
      </a>
    </div>
  {% endfor %}
</div>
