<!-- controles de estado -->
<button id="stateControl" class="hs__state-control">

  <object id="stateControlPause"
          class=""
          data="{{ site.baseurl}}/assets/img/slider/pausa.svg" 
          type="image/svg+xml"></object>

  <object id="stateControlPlay"
          class="d-none"
          data="{{ site.baseurl}}/assets/img/slider/play.svg" 
          type="image/svg+xml"></object>
  
  <span class="hs__state-text">Pausar</span>
</button>
