<!-- cooldown -->
<svg viewBox="0 0 34 34" class="indicator__cooldown-object">
  <defs>
    <filter id="f1" cx="17" cy="17">
      <feGaussianBlur in="SourceGraphic" stdDeviation="0.85"></feGaussianBlur>
    </filter>

    <filter id="f2" cx="17" cy="17">
      <feGaussianBlur in="SourceGraphic" stdDeviation="0.25"></feGaussianBlur>
    </filter>
  </defs>

  <circle class="cooldown__circle cooldown__color cooldown__color--{{ include.cor }}"
          cx="17" 
          cy="17" 
          r="18" 
          filter="url(#f1)"></circle>

  <circle class="cooldown__circle cooldown__glow"
          cx="17" 
          cy="17" 
          r="18" 
          filter="url(#f2)"></circle>
</svg>
