{% assign estalajadeiro = page.estalajadeiro %}

{% if estalajadeiro.exibir %}
  <!-- estalajadeiro -->
  <div class="carousel__inkeeper">
    <!-- balão de fala dividido em três partes para habilitar responsividade do mesmo-->
    <div class="carousel__inkeeper-bubble">
      <div class="carousel__inkeeper-bubble--top"></div>

      <div class="carousel__inkeeper-bubble--middle">
        <strong class="carousel__inkeeper-bubble--title strong">{{ estalajadeiro.balao.titulo }}</strong>

        <p class="carousel__inkeeper-bubble--text">
          {{ estalajadeiro.balao.texto }}
          <a href="{{ estalajadeiro.balao.link.href }}">{{ estalajadeiro.balao.link.texto }}</a>
        </p>
      </div>
      
      <div class="carousel__inkeeper-bubble--bottom"></div>
    </div>
    
    <!-- animação do estalajadeiro -->
    <video autoplay="true" 
            loop="" 
            playsinline="" 
            class="carousel__inkeeper-body">

      {% for source in estalajadeiro.animacoes.sources %}
      <source src="{{ site.baseurl }}{{ source.src }}" 
              type="{{ source.type }}">
      {% endfor %}

      <track kind="captions" 
              label="{{ estalajadeiro.animacoes.audiodescricao.label }}"
              src="{{ estalajadeiro.animacoes.audiodescricao.src }}">
    </video>
    
    <img src="{{ site.baseurl}}/assets/img/estalajadeiro/cartas.png"
          alt="Cartas de HearthStone" 
          rel="prefetch"
          class="carousel__inkeeper-cards">
  </div>
{% endif %}
