<!-- seta esquerda -->
<button class="carousel-control carousel-control-prev" 
        type="button" 
        data-bs-target="#sliderHS" 
        data-bs-slide="prev">

  <div class="carousel__control-icon" aria-hidden="true">
    <picture>
      <source srcset="{{ site.baseurl}}/assets/img/slider/controle-esquerdo.webp"
              type="image/webp">

      <source srcset="{{ site.baseurl}}/assets/img/slider/controle-esquerdo.png"
              type="image/png">

      <img src="{{ site.baseurl}}/assets/img/slider/controle-esquerdo.png"
            alt="Anterior">
    </picture>
  </div>

  <span class="visually-hidden">Anterior</span>
</button>

<!-- seta direita -->
<button class="carousel-control carousel-control-next" 
        type="button" 
        data-bs-target="#sliderHS" 
        data-bs-slide="next">

  <div class="carousel__control-icon">
    <picture>
      <source srcset="{{ site.baseurl}}/assets/img/slider/controle-direito.webp"
              type="image/webp">

      <source srcset="{{ site.baseurl}}/assets/img/slider/controle-direito.png"
              type="image/png">

      <img src="{{ site.baseurl}}/assets/img/slider/controle-direito.png"
            alt="Próximo">
    </picture>
  </div>

  <span class="visually-hidden">Próximo</span>
</button>
