{% assign slide = include.data %}
{% assign active = include.active %}

<div class="carousel-item {{ active }}">
  <!-- imagem de fundo -->
  <img src="{{ site.baseurl }}{{ slide.imagem.src }}" alt="{{ slide.imagem.alt }}">

  <!-- conteúdo -->
  <div class="row">
    <div class="col-6">
      <div class="carousel__info-wrapper">

        <h2 class="carousel__info-title">{{ slide.titulo }}</h2>

        <p>{{ slide.descricao }}</p>

        {% include botoes.html botoes=slide.botoes %}  
      </div>
    </div>
  </div>
</div>
