<!-- o slider de fato -->
<div id="sliderHS" 
      class="carousel carousel-dark carousel--hs slide" 
      data-bs-ride="carousel"
      data-bs-state="play">

  {% include controle.html %}

  <!-- moldura -->
  <div class="carousel__border"></div>

  <!-- slides -->
  <div class="carousel-inner">
    {% for slide in page.slides %}

      {% if slide.inicial %}
        {% include slide.html data=slide active='active' %}
      {% else %}
        {% include slide.html data=slide %}
      {% endif %}

    {% endfor %}
  </div>

  <!-- indicadores de paginação -->
  <div class="carousel-indicators">
    {% for slide in page.slides %}

      {% if slide.inicial %}
        {% include indicador.html data=slide.indicador forloop=forloop active='active' %}
      {% else %}
        {% include indicador.html data=slide.indicador forloop=forloop %}
      {% endif %}

    {% endfor %}
  </div>

  {% include setas.html %}
</div>
