@import './keyframes.scss';

.anim {

  &--pause {

    animation-play-state: paused !important;
  }

  &__slide {

    &--right {

      animation: anim-slide--right 600ms, 
                  anim-scale--down 6000ms 600ms;
    }

    &--left {

      animation: anim-slide--left 600ms, 
                  anim-scale--down 6000ms 600ms;
    }
  }
}
