@keyframes anim-slide--right {

  from { transform: translate(10rem) scale(1.1); }

  to { transform: scale(1.1); }
}

@keyframes anim-slide--left {

  from { transform: translate(-10rem) scale(1.1); }

  to { transform: scale(1.1); }
}

@keyframes anim-fade--left {

  0% {
    opacity: 1;
    background-size: 250%;
  }

  60% {
    background-size: 140%;
  }

  100% {
    background-size: 0%;
  }
}

@keyframes anim-scale--down {

  0% { transform: scale(1.1); }
  100% { transform: none; }
}

@keyframes anim-fade--in {

  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes anim-inkeeper--in {

  0% {
    opacity: 0;
    transform: scale(0.4) translateY(100px); 
  }
  
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes anim-cards--in {

  0% {
    opacity: 0;
    transform: rotate(-35deg) 
                translateX(-50px) 
                translateY(60px);
  }
  
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes anim-chat--in {

  from {
    opacity: 0;
    transform: rotate(-35deg) 
                scale(0.7) 
                translateX(-69px) 
                translateY(-40px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes anim-title--in {

  0% { transform: translate(1rem, 0.6rem) }
  100% { transform: none; }
}

@keyframes anim-text--in {
  
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes anim-cooldown--clockwise {

  from {

    stroke-dashoffset: 335%;
  }

  to {

    stroke-dashoffset: 0%;
  }
}
