@font-face {
  font-family: 'Belwe Bold';
  font-style: bold;
  src: local(''),
       url($baseurl + '/assets/fonts/Belwe-Bold.woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-style: 400;
  src: local(''),
       url($baseurl + '/assets/fonts/open-sans/open-sans-400.woff');
}
