/* base */
.hs__button {

  position: relative;
  z-index: 1;

  display: inline-block;
  vertical-align: middle;
  
  cursor: pointer;

  text-align: center;
  text-shadow: 0 0 4px #000, 0 0 8px #000;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Bliz Quadrata',
                'メイリオ,Meiryo',
                'ヒラギノ角ゴ Pro',
                'Hiragino Kaku Gothic Pro',
                '游ゴシック',
                'Yu Gothic,Siara',
                'Times New Roman',
                Serif;

  border: none;
  border-radius: 5px;
  margin-right: 1em;
  margin-bottom: 1.5rem;
  padding: 1em 2.3em;

  background-color: transparent;

  box-shadow: 0 1px 10px 0 rgba(0,0,0,.35);

  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;

  &:hover {
  
    color: white;
  }
  &::before {
  
      text-decoration: none;
  
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
  
      border-radius: 3px;
  }
  &::after {
  
    background: grey;
      background-position-x: 0%;
      background-position-y: 0%;
      background-repeat: repeat;
      background-image: none;
      background-size: auto;
      background-position: 50%;
      background-repeat: repeat-y;
      background-size: contain;
  
    box-shadow: 0 2px 6px 0 #331e0b;
  
    border: 3px solid;
    border-radius: 2px;
  
    top: 6px;
    right: 6px;
    bottom: 6px;
    left: 6px;
  
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  &::after, 
  &::before {
  
    content: "";
  
    position: absolute;
    z-index: -1;
  }
}

/* container */
.hs__buttons-container {

  display: flex;
}

/* gradient modifier */
.hs__button--gradient {

  background-image: -webkit-linear-gradient(top,#ededed,#573b23);
  background-image: linear-gradient(180deg,#ededed,#573b23);

  border-radius: 6px;
  padding: 1em 2.5em;

  box-shadow: 0 3px 6px 0 rgba(0,0,0,.45);

  text-shadow: 0 0 4px rgba(0,0,0,.3),0 0 8px rgba(0,0,0,.3);
  letter-spacing: .85px;

  &::before {

    background-color: #7e5f58;

    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;

    border-radius: 6px;
  }
  &::after, 
  &::before {

    content: "";

    position: absolute;
    z-index: -1;
  }

  & .text {

    position: relative;
    z-index: 1;

    -webkit-font-smoothing: antialiased;
    font-family: Belwe Bold;
  }

  &.hs__button--small .highlight, 
  &::after {

    top: 7px;
    right: 7px;
    bottom: 7px;
    left: 7px;
  }

  & .highlight {

    opacity: 1;

    position: absolute;
    top: 9px;
    left: 9px;
    right: 9px;
    bottom: 9px;

    box-shadow: none;

    background-image: -webkit-linear-gradient(left, #4c0d7a, 
                                                    #b921c4, 
                                                    #4c0d7a);

    background-image: linear-gradient(90deg, #4c0d7a, 
                                              #b921c4, 
                                              #4c0d7a);

    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;

    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
  }
  & .highlight, 
  &::after {

    padding: 2px 3px;

    box-shadow: 0 2px 6px 0 #331e0b;

    border: none;
      border-radius: 6px;
      -webkit-border-image: -webkit-linear-gradient(top,#f756fe,#661f91) 3;
      border-image: linear-gradient(180deg,#f756fe,#661f91) 3;

    background-image: -webkit-linear-gradient(top,#f756fe,#661f91);
    background-image: linear-gradient(180deg,#f756fe,#661f91);
  }
  & .highlight::before {

    content: "";

    opacity: 0;

    position: absolute;
    left: 0;
    top: 0;

    background-image: -webkit-linear-gradient(left,#921b9a,
                                                    #b921c4,
                                                    #921b9a);

    background-image: linear-gradient(90deg,#921b9a,
                                            #b921c4,
                                            #921b9a);

    border-radius: 6px;
    width: 100%;
    height: 100%;

    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
  &:hover .highlight::before {

    opacity: 1;
  }
}

/* size modifier */
.hs__button {

  &--small {
    font-size: .8em;
  }
  
  &--small::before, 
  &--xsmall::before {
  
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
  }
  &--small::after, 
  &--xsmall::after {
  
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
  }
}

/* color variations */
.hs__button {

  &--azul &--gradient .highlight {

    background-image: linear-gradient(to right, rgb(18, 44, 56), 
                                                rgb(46, 167, 206), 
                                                rgb(18, 44, 56));
  }
  &--azul &--gradient::after {
  
    content: "";
  
    background-image: linear-gradient(rgb(101, 185, 213), 
                                      rgb(18, 44, 56));
  }
  &--azul &--gradient .highlight::before {
  
    background-image: linear-gradient(to right, rgb(36, 87, 110), 
                                                rgb(46, 167, 206), 
                                                rgb(36, 87, 110));
  }
  
  &--vermelho &--gradient .highlight {
  
    background-image: linear-gradient(to right, rgb(56, 18, 18), 
                                                rgb(206, 46, 46), 
                                                rgb(56, 18, 18));
  }
  &--vermelho &--gradient::after {
  
    content: "";
  
    background-image: linear-gradient(rgb(213, 101, 101), 
                                      rgb(56, 18, 18));
  }
  &--vermelho &--gradient .highlight::before {
  
    background-image: linear-gradient(to right, rgb(110, 36, 36), 
                                                rgb(206, 46, 46), 
                                                rgb(110, 36, 36));
  }
  
  &--roxo &--gradient .highlight {
  
    background-image: linear-gradient(to right, rgb(76, 13, 122), 
                                                rgb(185, 33, 196), 
                                                rgb(76, 13, 122));
  }
  &--roxo &--gradient::after {
  
    content: "";
  }
  &--roxo &--gradient .highlight::before {
    
      background-image: linear-gradient(to right, rgb(153, 29, 181), 
                                                  rgb(226, 53, 238), 
                                                  rgb(153, 29, 181));
  }
  
  &--dourado &--gradient .highlight {
    
    background-image: linear-gradient(to right, rgb(56, 47, 18), 
                                                rgb(206, 174, 46), 
                                                rgb(56, 47, 18));
  }
  &--dourado &--gradient::after {
  
    background-image: linear-gradient(rgb(213, 206, 101), rgb(56, 47, 18));
  }
  &--dourado &--gradient .highlight::before {
  
    background-image: linear-gradient(to right, rgb(110, 109, 36), 
                                                rgb(206, 181, 46), 
                                                rgb(110, 102, 36));
  }
  
  &--palmeiras-sem-mundial &--gradient .highlight {
  
    background-image: linear-gradient(to right, rgb(18, 56, 20), 
                                                rgb(46, 206, 46), 
                                                rgb(18, 56, 20));
  }
  &--palmeiras-sem-mundial &--gradient::after {
  
    content: "";
  
    background-image: linear-gradient(rgb(105, 213, 101), 
                                      rgb(18, 56, 20));
  }
  &--palmeiras-sem-mundial &--gradient .highlight::before {
  
    background-image: linear-gradient(to right, rgb(36, 110, 40), 
                                                rgb(59, 206, 46), 
                                                rgb(36, 110, 40));
  }
}
