/* controles de estado */
.hs__state {

  &-control {

    position: absolute;
    z-index: 1;
    top: -2.5rem;
    left: 0px;
  
    display: flex;
    -moz-box-align: center;
    align-items: center;
  
    background: unset;
  
    border: medium none;
    padding: 0px;
    margin: 0px;
  
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
  
    cursor: pointer;
    appearance: none;
  }
  
  &-control object {
  
    pointer-events: none;
  }
  
  &-control svg {
  
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  }

  &-text {

    font-family: 'Belwe Bold', Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    color: rgb(255, 255, 255);

    margin-left: 10px;
  }
}
