.carousel__inkeeper {

  position: relative;
  
  display: flex;
  align-items: baseline;
  justify-content: flex-end;

  &-body {
  
    animation: anim-inkeeper--in 800ms;
    
    position: relative;
    z-index: 2;
    top: 3rem;
  
    width: 145px;
  }
  
  &-cards {
  
    animation: anim-cards--in 1200ms;
    
    position: relative;
    z-index: 1;
    top: 1.4rem;
    right: 2.2rem;
  }
}

/* estilos para o balão de fala do estalajadeiro */
.carousel__inkeeper {

  &-bubble {

    animation: anim-chat--in 1200ms;
    
    width: 220px;
    
    position: absolute;
    z-index: 5;
    bottom: 4rem;
    right: 4rem;
  
    pointer-events: auto;
    
    color: #000;
    text-align: left;
    font: 14px/1.5 'Open Sans', Helvetica,Arial,sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.5;
    line-height: 1.5;
    
    backface-visibility: hidden;
  }
  
  &-bubble &-bubble--title {
  
    font-family: 'Belwe Bold', Georgia, Times, Times New Roman, serif;
    font-size: 1rem;
    word-break: break-word !important;
  }
  &-bubble &-bubble--title.strong {
  
    font-weight: 600;
  }
  
  &-bubble &-bubble--text {
  
    font-family: 'Open Sans';
    color: black;
    word-break: break-word;
    font-size: 12px;
    font-weight: 500;
    
    margin: 0px;
  }
  &-bubble &-bubble--text a {
    
    color: #212529;
    font-weight: 700;
    text-decoration: none;
  
    background-color: transparent;
  }
  &-bubble &-bubble--text a:active, 
  &-bubble &-bubble--text a:focus, 
  &-bubble &-bubble--text a:hover {
  
    text-decoration: underline #233a6e;
    outline: 0 none;
    outline-offset: 0;
  }
  
  &-bubble--top {
    
    height: 44px;
    
    background: transparent url($baseurl + '/assets/img/estalajadeiro/balao-superior.png') 
                no-repeat scroll center center / 100%;
  }
  &-bubble--middle {
    
    background: transparent url($baseurl + '/assets/img/estalajadeiro/balao-meio.png') 
                no-repeat scroll center center / 100%;
    background-size: 100% 100%;
    
    width: 220px;
  
    display: flex;
    justify-content: center;
    flex-direction: column;
    -moz-box-pack: center;
  
    backface-visibility: hidden;
  
    position: relative;
    z-index: 1;
  
    padding: 0px 30px;
    margin: -11px 0px;
  }
  &-bubble--bottom {
    
    height: 62px;
  
    background: transparent url($baseurl + '/assets/img/estalajadeiro/balao-inferior.png') 
                no-repeat scroll center center / 100%;
  }  
}
