/* estilos para modura do slider */
.carousel__border {
  
  position: absolute;
  z-index: 2;
  top: -9px;
  left: -9px;

  width: calc(100% + 18px);
  height: calc(100% + 23px);

  pointer-events: none;

  border-style: solid;
  border-width: 27px 27px 31px;
  border-image: url($baseurl + "/assets/img/slider/moldura.png") 27 27 31 fill / 1 / 0 stretch;
}

/* estilos para conteúdo de cada slide */
.carousel-item .carousel__info-wrapper {

  animation: anim-fade--in 1500ms;

  position: relative;
  z-index: 2;

  font: 14px/1.5 'Open Sans', Helvetica, Arial, sans-serif;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;

  & .carousel__info-title {

    animation: anim-title--in 600ms;
  
    font-family: 'Belwe Bold', Georgia, Times, Times New Roman, serif;
  }

  & p {

    animation: anim-text--in 600ms;
  }
}


