/* estilos para indicadores de paginação */
.carousel__indicator {

  position: relative !important;
  
  text-indent: 0 !important;
  
  display: block !important;
  width: 68px !important;
  height: 68px !important;
  margin: 0px 5px !important;

  border-radius: 50%;
  
  background-color: transparent !important;
  cursor: pointer !important;

  transition: transform 0.15s ease-out 0s !important;

  &:active {
  
    transform: scale(0.9);
  }
  
  &::after {
  
    content: ' ';
  
    position: absolute;
    left: 0;
    right: 0;
  
    width: 100%;
    height: 100%;
  
    background-image: url($baseurl + "/assets/img/indicadores/moldura.png") !important;
    background-repeat: no-repeat;
    background-size: 100%;
    
    transform: scale(1.14);
  }
  
  & &-icon {
  
    width: 100%;
  }
}

/* estilos para efeito de indicador piscando */
.carousel__indicator {

  & .spinner-grow {

    display: none;
    width: 4rem;
    height: 4rem;
  }

  &.active .spinner-grow {

    display: block;
  
    position: absolute;
    
    color: rgb(0, 209, 255);
    filter: blur(3rem);
  }
}

/* estilos para efeito de cooldown em indicadores */
.indicator__cooldown {

  position: relative;

  display: block;
  border-radius: 50%;
  margin: 0px 5px;
  width: 68px;
  height: 68px;
  overflow: visible;

  background-color: transparent;
  
  cursor: pointer;

  transition: transform 0.15s ease-out 0s;

  & &-object {
  
    position: absolute;
    z-index: 2;
    top: 3px;
    left: 3px;
  
    cursor: pointer;
  
    overflow: visible !important;
    height: 62px;
    width: 62px;
  
    transform: translate(0px, 0px) rotate(-90deg);
  }
  
  & .cooldown__circle {
  
    position: relative;
    z-index: 1;
    visibility: hidden;
  
    fill: none;
    stroke-width: 2.5;
  
    transform-origin: 50% 50%;
  }
  
  &.active .cooldown__circle:not(anim--pause) {
  
    animation-timing-function: ease-in-out !important;
  }
  
  & .cooldown__color,
  & .cooldown__glow {
  
    visibility: visible;
    stroke-dashoffset: 335%;
    stroke-dasharray: 114.097px, 124.097px;
  }
  
  &.active .cooldown__glow {
  
    opacity: 0.5;
    z-index: 1;
  
    stroke: rgb(255, 255, 255);
  }
  
  & .cooldown__color {
  
    opacity: 1;
  }
  
  & .cooldown__glow {
  
    opacity: 0.5;
  }
  
  & .cooldown__color {

    &--azul {
  
      stroke: rgb(0, 209, 255);
    }
    
    &--vermelho {
    
      stroke: rgb(255, 0, 0);
    }
    
    &--roxo {
    
      stroke: rgb(183, 0, 255);
    }
    
    &--dourado {
    
      stroke: rgb(185, 182, 21);
    }
    
    &--palmeiras-sem-mundial {
    
      stroke: #00ff8c;
    }
  }
}
