/* estilos para setas do slider */
.carousel-control {

  .carousel__control-icon {

    opacity: 1;
    z-index: 2;
    width: 38px;
  
    transition: all 0.15s ease-out 0s;
    filter: drop-shadow(rgba(0, 0, 0, 0.5) 0px 2px 4px);
  }

  &:active .carousel__control-icon {
  
    transform: scale(0.9);
  }
  
  &:hover .carousel__control-icon {
    
    opacity: 1;
  
    filter: brightness(1.15) drop-shadow(rgba(0, 0, 0, 0.6) 0px 2px 4px);
  }
}
