<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="container" style="margin-top: 3.5rem !important;">
      {{ content }}
    </div>

    <script src='{{ site.baseurl}}/assets/js/vendor/bootstrap/bootstrap.js'></script>
    <script src='{{ site.baseurl}}/assets/js/hearthSlider.js'></script>
    <script src='{{ site.baseurl}}/assets/js/main.js'></script>
  </body>
</html>
